{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" class="card card-body" method="POST">
                {% csrf_token %}
                <h1 class="text-center">Signin</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="write your name...">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="write yor password...">
                </div>
                <button class="btn btn-primary mt-3">Signin</button>
            </form>
        </section>
    </div>
</main>
{% endblock %}